name: CI

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run Tests
        env:
          APP_ENV: test
          TRACKSSL_URL: https://staging.trackssl.com

        run: bundle exec rspec spec

  release:
    needs: build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: debug properties
        env:
          REGISTRY: ${{ env.REGISTRY }}
          ACTOR: ${{ github.actor }}
          TAG: ${{env.REGISTRY}}/${{ env.IMAGE_NAME }}
        run: |
          echo "REGISTRY: $REGISTRY"
          echo "ACTOR: $ACTOR"
          echo "TAG: $TAG"
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

